# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Uploaded files (if you don't want them in Git)
uploads/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
